input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.2s;

}

input:focus {
    border-color: #cf0b41;
}